
  @import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');


.ver{
    display: block;
    z-index: 99999;
}

/******* Bootstrap Theming ********/
/********** Custom CSS ************/
.font-weight-medium {
    font-weight: 500;
  }
  
  .font-weight-semi-bold {
    font-weight: 600;
  }
  
  [class^=flaticon-]:before,
  [class*=" flaticon-"]:before,
  [class^=flaticon-]:after,
  [class*=" flaticon-"]:after {
    font-size: inherit;
    margin-left: 0;
  }
  
  .navbar-light .navbar-nav .nav-link {
    padding: 20px 10px;
    color: #1C1C1C;
    outline: none;
  }
  
  .navbar-light .navbar-nav .nav-link:hover,
  .navbar-light .navbar-nav .nav-link.active {
    color: #D19C97;
  }
  
  @media (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link {
      padding: 5px 0px;
    }
  }
  .navbar-vertical.navbar-light .navbar-nav .nav-link {
    padding: 8px 30px;
    border-bottom: 1px solid #EDF1FF;
  }
  
  #header-carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
  }
  
  .section-title {
    position: relative;
    display: inline-block;
    letter-spacing: 1px;
    font-weight: bold;
    color: #1C1C1C;
  }
  
  .section-title span {
    position: relative;
    background: #ffffff;
    z-index: 1;
  }
  
  .section-title::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    margin-top: -1px;
    background: #1C1C1C;
  }
  
  .offer img {
    position: absolute;
    max-width: 50%;
    max-height: 90%;
    bottom: 0;
  }
  
  .offer .text-md-right img {
    left: 0;
  }
  
  .offer .text-md-left img {
    right: 0;
  }
  
  .cat-item .cat-img img,
  .product-item .product-img img {
    transition: 0.5s;
  }
  
  .cat-item:hover .cat-img img,
  .product-item:hover .product-img img {
    transform: scale(1.2);
  }
  
  .product-item .btn:hover {
    color: #D19C97 !important;
  }
  
  .contact-form .help-block ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 11;
    -webkit-animation: action 1s infinite alternate;
    animation: action 1s infinite alternate;
  }
  
  @-webkit-keyframes action {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-15px);
    }
  }
  @keyframes action {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-15px);
    }
  }

  /* .animacion_carru{
    animation-name: action;
    animation-duration: 1s;
  } */

  .color_transparente{
    -webkit-text-stroke: 1px #D19C97 !important;
    color: transparent !important;
  }